<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="text-align: center;">Harry poter y la pieda filosofal</h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFFJZdfyr3e_GoK3tvc6Z3_QwKzWbQsdRqRA&usqp=CAU"
  height="150">
  <style src="app.component.css"></style>
  <section>
    <h3>Historia</h3> 
    <p>Harry Potter se ha quedado huerfano y vive en casa de sus abominables tios y el insoportable primo<br>
    Dudle. Harry se siente muy triste y solo, hasta que un buen dia recibe una carta que cambiara su vida para siempre.<br>
    </p>
  </section>
  <section>
    <h3>Motivos por los que te gusta</h3>
    <p>Esta pelicula me gusta porque su trama es interesante y contiene una banda sonora que le da el toque de misterio<br>
    en cada escena requerida</p>
    <h3>Personajes</h3>
    <ul>
      <li>Harry Potter</li>
      <li>Hermione Granger</li>
      <li>Ron Weasley</li>
      <li>Albus Dumbledore</li>
    </ul>  
  </section>
  <section>
    <h3>Otras peliculas o series similares</h3>
    <h4>Alien vs Predator</h4>
    <p>Una pelicula de accion entre aliens y predators por el dominion de un planeta</p>
    <h4>Five Nights At Freddy's</h4>
    <p>Una pelicula de terror basada en hechos reales</p>  
   </section>
</body>
</html>